<div class="row">
        <div class="col-lg-6 col-md-6">
            <label for="adminid">Admin Login ID</label>
            <input #adminid type="email" class='form-control' placeholder="Admin ID" required>
        </div>
        <div class="col-lg-6 col-md-6">
            <label for="adminpass">Admin Login Password</label>
            <input #adminpass type="password" class='form-control' placeholder="Admin Password" required>
        </div>
</div>
<br>
<div class="row">
    
    <div class="col-lg-6 col-md-6">
            <button class="btn btn-success">Login</button>
    </div>
    <div class="col-lg-6 col-md-6">
            <b class="text-danger"></b>
    </div>
</div>

