<h1>Employee Records</h1>
<br>

<form [formGroup]="empFrmGroup" (submit)="add()">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <input type="text" formControlName="empid"
            class="form-control"
            placeholder="Employee ID">
        </div>
        <div class="col-lg-6 col-md-6">
            <input type="text" formControlName="empname"
            class="form-control"
            placeholder="Employee Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <input type="text" formControlName="city"
            class="form-control"
            placeholder="Employee City">
        </div>
        <div class="col-lg-6 col-md-6">
            <input type="text" formControlName="salary"
            class="form-control"
            placeholder="Employee Salary">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <label>Gender</label><br>
            <input type="radio" formControlName="gender" 
            value="male" name="gender"> &nbsp; Male
            &nbsp;
            <input type="radio" formControlName="gender"
            value="female" name="gender"> &nbsp; FeMale
        </div>        
    </div>
    <br>
    <button [disabled]="!empFrmGroup.valid"
    class="btn btn-success">Save Employee</button>

</form>


<br>
        <app-employee-item 
            *ngFor="let emp of employees;index as i"
            [emp]="emp" [index]="i+1"
            (deleteItem)="delete($event)">

        </app-employee-item>

