<div class="responsive-nav">
    <i class="fa fa-bars" id="menu-toggle"></i>
    <div id="menu" class="menu">
      <i class="fa fa-times" id="menu-close"></i>
      <div class="container">
        <div class="image">
          <a href="#"><img src="/assets/assets/images/author-image.jpg" alt="" /></a>
        </div>
        <div class="author-content">
          <h4>Reflux Me</h4>
          <span>Web Designer</span>
        </div>
        <nav class="main-nav" role="navigation">
          <ul class="main-menu">
            <li><a routerLink="/">About</a></li>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a routerLink="/work">Work</a></li>
            <li><a routerLink="/contact">Contact </a></li>
          </ul>
        </nav>
        <div class="social-network">
          <ul class="soial-icons">
            <li>
              <a href="https://fb.com/templatemo"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-rss"></i></a>
            </li>
          </ul>
        </div>
        <div class="copyright-text">
          <p>Copyright 2019 Reflux Design</p>
        </div>
      </div>
    </div>
  </div>