
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i></div>            
                <h1 class="text-center">Hello Admin</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    <li class="tm-nav-item">
                        <a routerLink="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Login
                        </a></li>

                    <li class="tm-nav-item">
                        <a routerLink="/category" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Category
                        </a></li>

                        <li class="tm-nav-item">
                            <a routerLink="/register" class="tm-nav-link">
                            <i class="fas fa-pen"></i>
                            Register
                            </a></li>                        

                            <li class="tm-nav-item">
                                <a routerLink="/userlogin" class="tm-nav-link">
                                <i class="fas fa-pen"></i>
                                User Login
                                </a></li>  
                    
                </ul>
            </nav>
        </div>
    </header>