<section class="section about-me" data-section="section1">
    <div class="container">
      <div class="section-heading">
        <h2>User Data</h2>
        <div class="line-dec"></div>        
      </div>
      <button (click)="load()" class="btn btn-success">Load Data</button>
      <hr>

      <table class="table table-striped">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Website</th>
              <th>Company</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;index as i">
              <td>{{i+1}}</td>
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.address.city}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.website}}</td>
              <td>{{user.company.name}}</td>
            </tr>
          </tbody>
      </table>
    </div>
</section>      