<div class="row">
    
    <div class="col-lg-6 col-md-6">        
            <label for="cateName">Category Name</label>
            <input #cateName type="text" class='form-control' placeholder="Category Name" required>
    </div>        
    <div class="col-lg-6 col-md-6">
            <button class="btn btn-success">Save Category</button>
    </div>        
</div>
<hr>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Category Name</th>
        </tr>
    </thead>
</table>